$main-green: #2A9C57;

.title-heading {
  color: white;
}

.sign-up {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;

  .form-container {
    margin: auto;
  }

  .home-heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    justify-content: space-between;
    margin: 2vh;
    padding: 1vh;



    h1 {
      color: $main-green;
      font-size: 50px;
    }
    h3 {
      color: #c2c2c2;
    }
    p {
      color: $main-green;
    }
  }
}